/* body {
    text-align: center;
    margin: 0 auto;
    margin-top: 5em;
} */


h1 {
  font-size: 4em;
  margin: 0 auto;
  text-align: center;
}

li {
  font-family: Helvetica;
  margin: 2em;
  font-size: 2em;
  list-style-type: none;
}


/* IDS */

#tutorials {
    text-align: center;
    padding-top: 2em;
    font-family: Helvetica;
}
